p{
    counter-increment: list;
}
p:after{
    content:"#" counter(list);
}
p:hover{
    background-color:transparent;
}

p{
    background-color:red;
}
p:hover~p{
    background-color: transparent;
}
