a{
    color: orange;
}
a:visited{
    color: green;
}
a:hover{
    text-decoration: none;
}
.container:first-line{
    color: blue;
}
div:first-child{
    color: red;
}
table{
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #333;
    color: white;
}



