.first_second_paragraph {
    font-family: Roboto, sans-serif;
}

.third_paragraph {
    font-family: Ubuntu, sans-serif;
}


p {
    margin-left: 450px;
}

.third_paragraph img {
    margin-left: 200px;
}

.forth_paragraph {
    font-family: Ubuntu, sans-serif;
}

.forth_paragraph img {
    margin-left: 100px;
}

