.container {
    display: flex;
    background-color: white;
}

.desk {
    width: 50%;
    min-width: 400px;
}

.desk:first-child {
    margin-top: 5px;
}

.cell {
    display: inline-block;
    width: 12.5%;
    min-width: 50px;
    margin: -5px -5px 0 0;
    border: 1px solid #777777;
    box-sizing: border-box;
}

.cell:after, td:after {
    content: "";
    display: block;
    padding-bottom: 100%;

}
td:after {
    padding-bottom: calc(100% - 1px); /*хз почему этот 1 px вылез*/
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 12.5%;
    min-width: 50px;
    padding: 0;
    border: 1px solid #777777;
    box-sizing: border-box;
}
.cell:nth-child(-2n+7),
.cell:nth-child(9),
.cell:nth-child(9) ~ .cell:nth-child(-2n+16),
.cell:nth-child(17) ~ .cell:nth-child(-2n+25),
.cell:nth-child(25) ~ .cell:nth-child(-2n+32),
.cell:nth-child(33) ~ .cell:nth-child(-2n+41),
.cell:nth-child(41) ~ .cell:nth-child(-2n+48),
.cell:nth-child(49) ~ .cell:nth-child(-2n+57),
.cell:nth-child(57) ~ .cell:nth-child(-2n+64),
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}